# Python
__pycache__/
*.py[cod]
*.env
.venv/
venv/
dist/
*.egg-info/

# Node
node_modules/
dist/
.vite/

# Variables de entorno — nunca al repo
.env
.env.local
.env.*.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db